<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title ab">Recent <span>Projects</span></h1>
    </div>
    <div class="all-projects">
      <div class="project-item">
        <div class="project-info">
          <h1>Watches</h1>
          <h2>Use your time wisely</h2>
          <p>We all know that there are two types of indications in watches.
            More modern, electronic, shows the necessary data using numbers on a special monitor.
            Well, the older, known for more than one hundred years, arrow indication is called analog.</p>
        </div>
        <div class="project-img" [routerLink]="['/watches']">
          <img  src="/assets/images/watches.jpg" alt="img">
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Calculator</h1>
          <h2>Good counter needs no calculator!</h2>
          <p>What does a calculator do?<br>
            A calculator is a device that performs arithmetic operations on numbers.
            Basic calculators can do only addition, subtraction, multiplication and division mathematical calculations.</p>
        </div>
        <div class="project-img" [routerLink]="['/calculator']">
          <img src="/assets/images/calculator.jpg" alt="img">
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>ToDO List</h1>
          <h2>You can do everything you want!</h2>
          <p>To-Do List project is an application specially built to keep track of errands or tasks that need to be done.
             This application will be like a task keeper where the user would be able to enter the tasks that they need to do.</p>
        </div>
        <div class="project-img" [routerLink]="['/todo']">
          <img src="/assets/images/ToDo.jpeg" alt="img">
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Movie</h1>
          <h2>Life without films is nothing!</h2>
          <p>Movie application will provide the opportunity to view trailers and descriptions of your favorite films in the best quality directly from your mobile, tablet or other device.
            Now you can do it anywhere you have an internet connection. We suggest that you start viewing from your gadgets right now.</p>
        </div>
        <div class="project-img" [routerLink]="['/movies']">
          <img src="/assets/images/movie.jpg" alt="img">
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Snake Game</h1>
          <h2>The Snake will always bite back!</h2>
          <p>The player controls a long, thin creature, resembling a snake, which roams around on a bordered plane, picking up food (or some other item), trying to avoid hitting its own tail or the edges of the playing area.
            Each time the snake eats a piece of food, its tail grows longer, making the game increasingly difficult.</p>
        </div>
        <div class="project-img" [routerLink]="['/snake']">
          <img src="/assets/images/snake1.png" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>
