<section id="about">
  <div class="about container">
    <div class="col-left">
      <div class="about-img">
        <img src="/assets/images/photo_ME.jpg" alt="img">
      </div>
    </div>
    <div class="col-right">
      <h1 class="section-title ab">About <span>me</span></h1>
      <h2>Front End Developer</h2>
      <p>Hello, I'm Vilfred Man, a resident of Uzhhorod in Ukraine. My academic journey has been shaped by the halls of the Hungarian Grammar School and the Linguistic Gymnasium named after Taras Shevchenko. This educational odyssey culminated in the attainment of a master's degree in
        "Architectural Design" from the prestigious Lviv National University. In the professional realm, my expertise has been honed through a dedicated tenure spanning 2015 to 2022, where I contributed my skills as a model maker to various 3D projects within the realm of construction.
        </p><p>The beginning of 2023 marked a new chapter in my career, as I embarked on IT courses fueled by a genuine passion for the field. My intention is not merely to participate but to carve a path to success.
        Beyond my professional pursuits, I'm a person of diverse interests and hobbies. I find fascination in exploring new moder technologies, and my love for sports-particularly football, billiards, and tennis-speaks to my dynamic and well-rounded nature.
        I'm a conscientious individual—a perfectionist who thrives in collaborative environments. I am relentless in my pursuit of self-improvement, always aspiring to scale new heights both personally and professionally. I firmly believe that my contributions will not only be an asset to any team but also a source of significant value to the company.
        I would like to bring substantial benefits to any endeavor I undertake. I look forward to the prospect of contributing my skills and passion to a team that values innovation, collaboration, and excellence.</p>
      <a href="#" class="cta">Download Resume</a>
    </div>
  </div>
</section>
