#footer {
  background-image: linear-gradient(60deg, #091330 0%, #485563 100%);
}
#footer .footer {
  min-height: 110px;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 10px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  transition: 0.3s;
}
#footer .social-item:hover img {
  transform: scale(1.2);
}

#footer p {
  color: white;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

#footer a {
  color: white;
}
