<section id="skills">
  <div class="skills ">
    <div class="skills-header">
      <h1 class="section-title">My <span>Skills</span></h1>
    </div>
  </div>

    <div class="wrapper">
      <div class="skills-container">
      <h1 class="section-title">Hard <span>Skills</span></h1>
    <div class="skill">
      <li>
        <h2>HTML</h2>
        <span class="bar"><span class="html">
        </span></span>
      </li>
      <li>
        <h2>CSS/SCSS</h2>
        <span class="bar"><span class="css">
        </span></span>
      </li>
      <li>
        <h2>JavaScript</h2>
        <span class="bar"><span class="js">
        </span></span>
      </li>
      <li>
        <h2>TypeScript</h2>
        <span class="bar"><span class="ts">
        </span></span>
      </li>
      <li>
        <h2>Angular</h2>
        <span class="bar"><span class="ang">
        </span></span>
      </li>
      <li>
        <h2>Webstorm</h2>
        <span class="bar"><span class="wb">
        </span></span>
      </li>
      <li>
        <h2>GIT</h2>
        <span class="bar"><span class="git">
        </span></span>
      </li>
    </div>
      </div>

    <div class="skills-container">
      <h1 class="section-title">Soft <span>Skills</span></h1>
      <div class="radial-bars">
        <div class="radial-bar">
          <svg viewBox="0 0 200 200" x="0px" y="0px">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-1" cx="100" cy="100" r="80"></circle>

          </svg>
          <div class="percentage">80%</div>
          <div class="text">Creativity</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200" x="0px" y="0px">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-2" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">90%</div>
          <div class="text">Communication</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200" x="0px" y="0px">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-3" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">75%</div>
          <div class="text">Problem Solving</div>
        </div>
        <div class="radial-bar">
          <svg viewBox="0 0 200 200" x="0px" y="0px">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-4" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">85%</div>
          <div class="text">TeamWork</div>
        </div>
      </div>
    </div>
    </div>
</section>
