<div class="main-container">
<app-header-movies></app-header-movies>
  <h1 *ngIf="dataService.totalCount < 1" class="empty">
    Sorry!There are no matches with the search
  </h1>
  <div class="top-movie">
    <div class="movies-list-container">
      <app-movie class="movie-box" *ngFor="let movieData of dataService.movies" [movie]="movieData"></app-movie>
    </div>
  </div>
  <div class="pagination-container" id="movie-paginator">
    <app-paginator></app-paginator>
  </div>
</div>
  <app-popup *ngIf="dataService.popup" id="popup"></app-popup>
