<section id="contact">
  <div class="contact container">
    <div>
      <h1 class="section-title">Contact <span>info</span></h1>
    </div>
    <div class="contact-items">
      <div class="contact-item">
        <div class="icon"><img src="https://img.icons8.com/plasticine/100/phonelink-ring--v1.png" /></div>
        <div class="contact-info">
          <h1>Phone</h1>
          <h2>+38 0636495457</h2>
          <h2>+38 0502273457</h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon"><img src="https://img.icons8.com/cute-clipart/64/gmail.png" /></div>
        <div class="contact-info">
          <h1>Email</h1>
          <h2>mvman.uzzh@gmail.com</h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon"><img src="https://img.icons8.com/clouds/100/map-pin.png" /></div>
        <div class="contact-info">
          <h1>Address</h1>
          <h2>Uzhhgorod, Ukraine</h2>
        </div>
      </div>
    </div>
  </div>
</section>
